service vendor.hdmi-opi /apex/com.android.hardware.tv.hdmi.connection.opi5/bin/hw/android.hardware.tv.hdmi.connection-service.opi
    interface aidl android.hardware.tv.hdmi.connection.IHdmiConnection/default
    class hal
    user system
    group system
