# Load packaged kernel modules in response to hardware modalias uevents.  The kernel has
# broad USB support configured as modules, so this is required for keyboards, remotes,
# network adapters, storage readers, and other hot-plug devices to bind automatically.
modalias_handling enabled

# Bluetooth
/dev/rfkill                                                                  0660   bluetooth  bluetooth

# Camera
/dev/media*                                                                  0660   system     camera
/dev/v4l-subdev*                                                             0660   system     camera
/dev/video*                                                                  0660   system     camera

# DMA
/dev/dma_heap/default_cma_region                                             0660   system     graphics
/dev/dma_heap/system                                                         0666   system     graphics
/dev/dma_heap/system-uncached                                                0666   system     graphics

# FFmpeg
/dev/rga                                                                     0660   media      media
/dev/media*                                                                  0660   media      media
/dev/video*                                                                  0660   media      media

# USB
/sys/class/udc/fc000000.usb    current_speed                                 0664   system     system
