service vendor.cec-opi /apex/com.android.hardware.tv.hdmi.cec.opi5/bin/hw/android.hardware.tv.hdmi.cec-service.opi
    interface aidl android.hardware.tv.hdmi.cec.IHdmiCec/default
    class hal
    user system
    group system
